@media screen and (max-width: 414px){
.contain{
	     
    background-image: url('dragon.png');        
    background-repeat: no-repeat;        
    position: relative;
    display: center;        
    width:375px;            
    height: 667px;       
    margin-left: auto;      
    margin-right: auto;       
  

	}
.bo{
	display: inline-block;
	width: 100%;
	position: absolute;
    left: 45px;
    top: 480px;
}
#home{
	width:140px;
	background-color: #bfb0d6;
	position: absolute;
    left: 235px;
    top: 20px;
}
#collect{
	width:140px;
	background-color: #bfb0d6;
	color: black;
}
#change{
	width:140px;
	background-color: #bfb0d6;
	color: black;
}
}
