@media screen and(max - width: 414 px) {
    .contain {

        background-image: url('change.png');
        background-repeat: no-repeat;
        position: relative;
        display: center;
        width: 375 px;
        height: 667 px;
        margin - left: auto;
        margin - right: auto;
    }
    .bo {
        display: inline - block;
        width: 100 %;
        position: absolute;
        left: 45 px;
        top: 480 px;
    }
    #home {
        width: 140 px;
        background - color: #bfb0d6;
        position: absolute;
        left: 135 px;
        top: 600 px;
        border-color: #bfb0d6;

    }

    #change1 {
        width: 120 px;
        background - color: #bfb0d6;
        position: absolute;
        left: 235 px;
        top: 220 px;
        border-color: #bfb0d6;
    }
    #change2 {
        width: 120 px;
        background - color: #bfb0d6;
        position: absolute;
        left: 255 px;
        top: 370 px;
        border-color: #bfb0d6;
    }
    #change3 {
        width: 120 px;
        background - color: #bfb0d6;
        position: absolute;
        left: 255 px;
        top: 520 px;
        border-color: #bfb0d6;
    }
    img {
        width: 50 px;
        height: 50 px;
    }
    .ruby1 {

        position: absolute;
        left: 295 px;
        top: 153 px;
    }
    #amount1 {
        position: absolute;
        left: 225 px;
        top: 153 px;
        color: white;
        font - size: 40 px;
    }
    .ruby2 {

        position: absolute;
        left: 295 px;
        top: 303 px;
    }
    #amount2 {
        position: absolute;
        left: 225 px;
        top: 303 px;
        color: white;
        font - size: 40 px;
    }
    .ruby3 {

        position: absolute;
        left: 295 px;
        top: 453 px;
    }
    #amount3 {
        position: absolute;
        left: 225 px;
        top: 453 px;
        color: white;
        font - size: 40 px;
    }
}