@media screen and (max-width: 414px) {
    .contain {

        background-image: url('compound.png');
        background-repeat: no-repeat;
        position: relative;
        display: center;
        width: 375px;
        height: 667px;
        margin-left: auto;
        margin-right: auto;
    }
    .timeDuration {
        padding-top: 100px;
    }
    .timeDuration>p {
        text-align: center;
        font-size: 24px;
    }

    .btn {
        background: #807598;
        border: #807598;
    }

    #go{
    width:150px;
	background-color: #bfb0d6;
	    border-color: #807598;
	position: absolute;
    left: 30px;
    top: 610px;
	  font-size:20px;
    }
	#goMining{
		width:120px;
		
	background-color: #bfb0d6;
	    border-color: #807598;
	position: absolute;
    left: 30px;
    top: 5850px;
	  font-size:20px;
	}
}
