@media screen and (max-width: 414px) {
    body {

        background-color: #DCD5F2;
    }

    .contain {
        margin: 10% 12%; 
    }

    .btn {
        background: #807598;
        border: #807598;
        text-align:center;
        margin: 40% 5%;
    }

    p {

        margin-top: 20%;
    }

    #id {
        margin: 40% 5%;
    }
}