@media screen and (max-width: 414px) {
    body {

        background-color: #DCD5F2;
    }

    button {
        background: #807598;
        border: #807598;
    }

    p {
        padding-left: 8%;
        padding-top: 20%;
    }
}