@media screen and (max-width: 414px) {
    body {

        background-color: #DCD5F2;
    }

    .btn {
        background: #807598;
        border: #807598;
        text-align:center;
    }

    p {

        margin-left: 8%;
        margin-top: 20%;
    }
}