@media screen and (max-width: 414px){
.contain{
	     
    background-image: url('roadfail.png');        
    background-repeat: no-repeat;        
    position: relative;
    display: center;        
    width:375px;            
    height: 667px;       
    margin-left: auto;      
    margin-right: auto;       
  

	}


}
