@media screen and (max-width: 414px) {
    .contain {

        background-image: url('side1.png');
        background-repeat: no-repeat;
        position: relative;
        display: center;
        width: 375px;
        height: 667px;
        margin-left: auto;
        margin-right: auto;
    }

    .timeDuration> p {
        margin:100px auto 0 auto;
        text-align:center;
        font-size:24px;
    }

}
