@media screen and (max-width: 414px){
.contain{
	     
    background-image: url('stop.png');        
    background-repeat: no-repeat;        
    position: relative;
    display: center;        
    width:375px;            
    height: 667px;       
    margin-left: auto;      
    margin-right: auto;       
  

	}
#dig{
	background-image: url('com.png') ;
	width: 100px;
	height: 60px;
	position: absolute;
    	left: 160px;
    	top: 400px;
    	border-radius: 50px;
}

p{
    margin: 10% 30% 5% 30%; 
}

}
